<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教务管理系统</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/app.css" rel="stylesheet">

</head>
<body data-type="generalComponents">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" style="color: #0e90d2;">教务管理系统</a>
            </div>
        </div>
    </nav>

    <div class="tpl-page-container tpl-page-header-fixed">

        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="admin_home.html" class="nav-link active">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <span class="item-css">系统首页</span>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="admin_student.html" class="nav-link tpl-left-nav-link-list">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            <span class="item-css">学生管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="admin_teacher.html" class="nav-link tpl-left-nav-link-list">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            <span class="item-css">教师管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="admin_course.html" class="nav-link tpl-left-nav-link-list">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            <span class="item-css">课程管理</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <h1 align="center" style="font-size: 20px; font-weight: bold">欢迎&nbsp;&nbsp;<span style="font-size: 30px;color: #0e90d2">系统管理员</span>&nbsp;&nbsp;登录教务管理系统，点击左侧功能列表中的按钮，显示对应的信息</h1>
                </div>
                <div class="tpl-block">
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>

    </div>
</body>
</html>