<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教务管理系统——学生端</title>

    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/app.css" rel="stylesheet">

    <script src="../jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>

</head>
<body data-type="generalComponents">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" style="color: #0e90d2;">教务管理系统</a>
            </div>
        </div>
    </nav>

    <div class="tpl-page-container tpl-page-header-fixed">

        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="admin_home.html" class="nav-link">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <span class="item-css">系统首页</span>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="admin_student.html" class="nav-link tpl-left-nav-link-list">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            <span class="item-css">学生管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="admin_teacher.html" class="nav-link tpl-left-nav-link-list">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            <span class="item-css">教师管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="admin_course.html" class="nav-link tpl-left-nav-link-list active">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            <span class="item-css">课程管理</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tpl-content-wrapper">
            <div class="panel panel-collapse">
                <div class="panel-body">
                    <form class="form-inline" style="padding-left: 50px;">
                        <button id="insertBtn" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#insertLesson" @click="getAllTeachers">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>添加课程
                        </button>
                        <div class="modal fade" id="insertLesson" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="insertModalLabel">添加课程信息</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row" style="padding-left: 20px;">
                                            <input type="text" class="form-control" placeholder="请输入课号">
                                        </div>
                                        <div class="row" style="padding-left: 20px; padding-top: 10px;">
                                            <input type="text" class="form-control"  placeholder="请输入课名">
                                        </div>
                                        <div class="row" style="padding-left: 20px; padding-top: 10px;">
                                            <input type="text" class="form-control" placeholder="请输入工号">
                                        </div>
                                        <div class="row" style="padding-left: 20px; padding-top: 10px;">
                                            <input type="text" class="form-control" placeholder="请输入教师名">
                                        </div>
                                        <div class="row" style="padding-left: 20px; padding-top: 10px;">
                                            <input type="text" class="form-control" placeholder="请输入学院名">
                                        </div>
                                        <div class="row" style="padding-left: 20px; padding-top: 10px;">
                                            <input type="text" class="form-control" placeholder="请输入授课学期">
                                        </div>
                                        <div class="row" style="padding-left: 20px; padding-top: 10px;">
                                            <input type="text" class="form-control" placeholder="请输入授课时间">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" @click="insertLessonFunc">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form style=" padding-left: 50px; padding-top: 20px; padding-right: 68px;">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                <tr>
                                <th>课号</th>
                                <th>课名</th>
                                <th>工号</th>
                                <th>教师名</th>
                                <th>学院</th>
                                <th>学期</th>
                                <th>上课时间</th>
                                <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <td v-text="lesson.lessonNum"></td>
                                <td v-text="lesson.lessonName"></td>
                                <td v-text="lesson.teacher.teacherName"></td>
                                <td v-text="lesson.year"></td>
                                <td v-text="lesson.term"></td>
                                <td v-text="lesson.credit"></td>
                                <td v-text="lesson.term"></td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-target="#updateLesson" @click="readyUpdate(lesson)">修改
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" @click="deleteLessonFunc(lesson)">删除
                                    </button>
                                </td>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<script src="../jquery.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
</body>
</html>